* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

}

.navlink {
    display: inline;
}
    

body {
    background-color: #798988;
  }
  .navigation-bar {
    width: 75%;  
    height: 80px; 
    padding: 8px;
    background-color: #cfdea8; 
    list-style-type: none; 
    text-align: center;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-top: 15px;  
  }
  .navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    height: 150px;        
    line-height: 150px;  
    color: black;  
    text-decoration: none;
  }
  .heroImg {
    padding: 50px;
    line-height: 1.8;
  }
  img {
      float: right;
      padding: 8px;
      height: 100px;
      width: 50px;
  }
  .heroHead {
    text-align: left;
  }
  .content {
    width: 500px;
    margin: 0 auto;
  }
  .resumeButton {
    text-align: center;
  }
  .skillsBox {
    background-color: #303A52;
    padding: 25px;
  }
  .skills {
    width: 500px;
    margin: 0 auto;
    color: #F2F5EA;
    line-height: 1.8;
  }
  .footerNav {
    margin: auto; 
    display: inline-block;
    list-style-type: none;
  }
  .footerList {
    display: inline-block;
  }
  .footerList a {
    display: inline-block;
    margin-left: 250px;     
    color: black;  
    text-decoration: none;
  }
  Footer
 